<p-table #tabela 
        [value]="resultado.content"
        [lazy]="true"
        (onLazyLoad)="carregarTabela()"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10,25,50]"
        [currentPageReportTemplate]="'Página {currentPage} de {totalPages}'"
        [totalRecords]="resultado.totalElements">


        <ng-template pTemplate="colgroup" let-columns>
            <colgroup *ngFor="let col of colunas" >
                <col style="width: 400px;"> 
            </colgroup>
            <col style="width: 100px;"> 
            <col style="width: 100px;"> 
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of colunas" [pSortableColumn]="col.parametroOrdenacao">
                    {{col.cabecalho}}
                    <p-sortIcon [field]="col.parametroOrdenacao"></p-sortIcon>
                </th>
                
                <th>Ações</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-coluna>
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of colunas">
                    <div class="p-d-flex p-jc-center" *ngIf="verificaColunaData(col.parametro) ; else colunaPadrao"></div>
                    <div class="p-d-flex p-jc-center" *ngIf="verificaColunaData(col.parametro) ; else colunaPadrao">
                        {{coluna[col.parametro] | date:'dd/MM/yyyy'}}
                    </div>
                    <ng-template #colunaPadrao>
                    </ng-template>
                </td>
                <td>
                    <div class="p-d-flex p-jc-center">
                        <div *ngIf="situacaoIconeCustomizados" [pTooltip]="toolTipVisualizar">
                            <a (click)="cliqueVisualizar.emit(coluna.id)">
                                <i class="icone-preto fas fa-book-open livro-cnct"></i>
                            </a>
                        </div>                   
                        <div *ngIf="exibirBotaoEditar" [pTooltip]="toolTipAlterar">
                            <a (click)="cliqueEditar.emit(coluna.id)">
                                <i class="icone-azul fas fa-pen"></i>
                            </a>
                        </div>
                        <div *ngIf="exibirBotaoExcluir">
                            <a (click)="cliqueRemover.emit(coluna.id)" [pTooltip]="toolTipExcluir">
                                <i class="icone-vermelho p-ml-3 fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
    
        <ng-template pTemplate="paginatorright">
            <div class="p-d-flex p-ai-center">
                <span class="total-registros">
                    Total de registros {{resultado.totalElements}}
                </span>
            </div>
        </ng-template>
</p-table>